.header{
    background-color: #2cbb44;
    transition: all 1s ease;
}

.header-scroll{
    background-color: #2E2E2E;
    opacity: 80%;
    color: white;
}

.titulo{
    color: white;
}

#principal{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/background.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#juegos{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/backgroundlava.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#plataformas{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/backgroundbirch.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#nuevaversion{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/backgroundendportal.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#foro{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/backgroundmushroom.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#foro p{
    text-align: justify;
}

#foro h5{
    text-align: center;
}

#login{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/background.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#login a{
    color: white;
}

#registro{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/background.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#contenido p{
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    background-color: white;
}

#cambios p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    color: white;
}

#cambios li{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: justify;
    color: white;
}

#cambios img{
    max-width: 100%;
}

#construcciones{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background: url(images/background.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#tarjeta{
    margin-left: auto;
    margin-right: auto;
}

#tarjeta p{
    text-align: justify;
}

#galeria img{
    max-height: 100vh;
    object-fit: fill;
}

#footer{
    background-color: #424242;
    color: white;
}

#footer a, #footerDivider{
    color: white;
    text-decoration: none;
}

#footerDivider{
    background-color: #848484;
}